In [2]:
import csv
import pandas as pd

In [16]:
lin_roi_df = pd.read_csv("linear_roi.csv",parse_dates=True, index_col="timestamp")
lin_roi_df.index = pd.to_datetime(lin_roi_df.index)

grad_roi_df = pd.read_csv("grad_roi.csv",parse_dates=True, index_col="timestamp")
grad_roi_df.index = pd.to_datetime(grad_roi_df.index)

imb_roi_df = pd.read_csv("imb_roi.csv",parse_dates=True, index_col="timestamp")
imb_roi_df.index = pd.to_datetime(imb_roi_df.index)

xgb_roi_df = pd.read_csv("xgb_roi.csv",parse_dates=True, index_col="timestamp")
xgb_roi_df.index = pd.to_datetime(xgb_roi_df.index)

In [19]:
combined_df = pd.concat([lin_roi_df, grad_roi_df,imb_roi_df,xgb_roi_df], axis=1)

In [20]:
combined_df.shape

(292, 40)

In [21]:
combined_df.to_csv("combined_roi.csv")

In [22]:
combined_df

,LIN_AAPL,LIN_MSFT,LIN_AMZN,LIN_FB,LIN_GOOGL,LIN_TSLA,LIN_BRK.B,LIN_NVDA,LIN_JPM,LIN_JNJ,...,XGB_AAPL,XGB_MSFT,XGB_AMZN,XGB_FB,XGB_GOOGL,XGB_TSLA,XGB_BRK.B,XGB_NVDA,XGB_JPM,XGB_JNJ
timestamp,,,,,,,,,,,,,,,,,,,,,
2021-06-04 20:00:00+00:00,10000.000000,10000.000000,10000.000000,10000,10000.000000,10000.000000,10000,10000.000000,10000.000000,10000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000
2021-06-04 21:00:00+00:00,10000.000000,10000.000000,10000.000000,10000,10000.000000,9997.165013,10000,10000.000000,10000.000000,10000,...,10000.000000,10000.000000,10002.184053,10000.000000,9999.958229,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000
2021-06-04 22:00:00+00:00,10000.000000,10000.000000,10000.000000,10000,10000.000000,9992.495622,10000,10000.000000,10000.000000,10000,...,10000.000000,10001.197031,9999.937598,10000.000000,9993.734336,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000
2021-06-04 23:00:00+00:00,10000.000000,10000.000000,10000.000000,10000,10000.000000,10005.836738,10000,10000.000000,10000.000000,10000,...,10000.000000,10010.773282,10002.964072,10000.000000,9993.734336,10013.351135,10000.000000,10000.000000,9987.388145,10000.0000
2021-06-07 08:00:00+00:00,10000.000000,10000.000000,10000.000000,10000,10000.000000,9858.917702,10000,10000.000000,10000.000000,10000,...,10000.000000,9975.660362,10002.964072,10000.000000,9993.734336,9866.321762,10000.000000,10000.000000,9987.388145,10000.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-30 19:00:00+00:00,9978.020312,10039.865072,10727.635683,10000,10008.483505,10627.426078,10000,9968.786052,10049.495014,10000,...,10849.830773,10766.453263,10818.536675,10538.479791,10169.578600,11324.191332,9607.501876,11244.217515,9266.392851,9899.1932
2021-06-30 20:00:00+00:00,9978.020312,10039.865072,10723.643169,10000,10008.483505,10627.426078,10000,9968.786052,10049.495014,10000,...,10849.830773,10775.198398,10818.536675,10540.298286,10169.578600,11324.191332,9607.501876,11244.217515,9266.392851,9899.1932
2021-06-30 21:00:00+00:00,9978.020312,10039.865072,10723.643169,10000,10008.483505,10627.426078,10000,9968.786052,10049.495014,10000,...,10849.830773,10771.620843,10818.536675,10540.298286,10169.578600,11324.191332,9607.501876,11241.968952,9266.392851,9899.1932
2021-06-30 22:00:00+00:00,9978.020312,10039.865072,10723.643169,10000,10008.483505,10627.426078,10000,9968.786052,10049.495014,10000,...,10849.830773,10771.620843,10818.536675,10547.269182,10169.578600,11324.191332,9607.501876,11241.968952,9266.392851,9899.1932
2021-06-30 23:00:00+00:00,9978.020312,10039.865072,10723.643169,10000,10008.483505,10627.426078,10000,9968.786052,10049.495014,10000,...,10849.830773,10771.620843,10818.536675,10547.269182,10169.578600,11324.191332,9607.501876,11241.968952,9266.392851,9899.1932