In [12]:
import sys
sys.path.append('../')
import libs.db
import libs.prep_df
import pandas as pd
import sqlite3

In [13]:
tickers = libs.db.get_tickers("sp10.csv")

In [14]:
sql_file = "sp10_current.db"
conn = libs.db.create_connection(sql_file)
current_df = libs.db.df_from_db(conn)
libs.db.close_connection(conn)
current_df = libs.prep_df.normalize_df(current_df)

In [17]:
stock_returns = []
for i in range(0,len(tickers)):
    stock_returns.append((current_df.iloc[-1,i] - current_df.iloc[0,i]) / current_df.iloc[0,i])

returns_df = pd.DataFrame({"symbol": current_df.columns.values, "return": stock_returns})
returns_df

  symbol    return
0   AAPL  0.094611
1   AMZN  0.061767
2  BRK.B -0.042850
3     FB  0.056514
4  GOOGL  0.031383
5    JNJ -0.027949
6    JPM -0.052164
7   MSFT  0.078218
8   NVDA  0.220810
9   TSLA  0.080299

In [18]:
returns_df["return"] = returns_df["return"] * 10000 + 10000
returns_df

  symbol        return
0   AAPL  10946.107784
1   AMZN  10617.665225
2  BRK.B   9571.502234
3     FB  10565.138172
4  GOOGL  10313.833157
5    JNJ   9720.506031
6    JPM   9478.356031
7   MSFT  10782.176248
8   NVDA  12208.097785
9   TSLA  10802.989346

In [19]:
returns_df["return"].sum()

105006.37201516227